<div class="container py-5">


    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <h2>Lista de Reservaciones</h2>
        </div>

    </div>

    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <th>Numero de Habitacion<input type="number" min="0" name="number" value="{{number}}"
                            class="form-control border border-secondary"></th>
                    <th>Nombre del Cliente<input type="text" name="name" value="{{name}}"
                            class="form-control border border-secondary"></th>
                    <th>Fecha de la Reservacion<input type="date" name="rez" value="{{rez}}"
                            class="form-control border border-secondary"></th>
                    <th>Dia de Inicio<input type="date" name="fd" value="{{fd}}"
                            class="form-control border border-secondary"></th>
                    <th>Dia de Finalizacion<input type="date" name="ed" value="{{ed}}" class="form-control border border-secondary">
                    </th>
                    <th class="pb-5">Numero de Dependientes</th>
                    <th class="pb-5">Costo Total</th>
                    <th><button type="submit" name="filter" class="btn btn-warning w-100">Filtrar</button></th>
                </form>

            </tr>

        </thead>
        <tbody>
            {% for b in bookings %}
            <tr>
                <td><a href="{% url 'room-profile' b.roomNumber.number %}">{{b.roomNumber.number}}</a></td>
                <td><a href="{% url 'guest-profile' b.guest.user.id %}">{{b.guest.user.first_name}}</a></td>
                <td>{{ b.dateOfReservation }}</td>
                <td>{{ b.startDate }}</td>
                <td>{{ b.endDate }}</td>
                <td>{{ b.numOfDep }}</td>
                <td>
                    {% for key, value in totals.items %}
                    {% if key == b %}
                    {{ value }}
                    {% endif %}
                    {% endfor %}
                </td>
                {% if role == "admin" or role == 'manager' %}
                <td> <a href="{% url 'deleteBooking' b.id %}"
                        class="btn btn-sm btn-outline-danger">Eliminar&nbsp;Reservacion</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>



</div>