<div class="container">

    <div class="row py-5 h5">
        <p>Estas tratando reservar esta habitacion:
            <br>
            Entre {{fd}} - {{ld}}
            <br>
            Numero de Habitacion : {{ room.number }}
            <br>
            Capacidad : {{ room.capacity }}
            <br>
            Cantidad de camas de la habitacion : {{ room.numberOfBeds }}
            <br>
            Tipo de Habitacion : {{ room.roomType }}
            <br>
            Precio de la Habitacion : {{ room.price }}
            <br>
            <br>
            Precio Total : {{total}}
        </p>
    </div>


    <form action="" method="POST">
        {% csrf_token %}
        <div class=row>
            <input type="hidden" value="{{ room }}" name="roomid">
            <input type="date" value="{{ fd }}" name="fd" class="d-none">
            <input type="date" value="{{ ld }}" name="ld" class="d-none">
            {% if room.capacity > 1 %}
            <div class="col-6">
                <h4>Agregar Dependientes</h4>
                <input type="text" class="form-control d-inline" name="depName">
                <button type="submit" name="add"
                    class="form-control btn btn-sm btn-outline-success px-3 d-inline">Agregar</button>
            </div>

            <div class="col-6">
                <ul id="myList" class="list-group">
                    <h4>Lista de Dependientes</h4>
                    {% for n in names %}
                    <li class="list-group-item">{{n}}<input type="hidden" name="name{{forloop.counter}}" value="{{n}}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if role == "receptionist" %}

            <label for="exampleFormControlSelect1">Seleccionar un cliente
            </label>
            <select class="form-control" name="guest" required="" id="id_guest">
                {% for guest in guests %}
                <option value="{{guest.id}}">{{guest.user.first_name}} {{guest.user.last_name}}</option>
                {% endfor %}
            </select>
            {% endif %}

            <button type="submit" class="btn btn-info w-100 mt-3" name="bookGuestButton">Reservar</button>
        </div>
    </form>


    <div class="py-3">
        &nbsp
    </div>

</div>