{% extends '../index.html' %}

{% block context %}

<div class="row justify-content-center m-5">

    <div class="card border-info shadow-lg w-75">

        <div class="card-body">

            <p>Quieres marcar esta tarea como completada : ?</p> <br>
            <p>Descripcion : {{ task.description }} </p> <br>
            <p>Hora de inicio : {{ task.startTime }}</p><br>
            <p>Hora de finalizacion : {{ task.endTime }} </p>

            <form action="{% url 'completeTask' task.id %}" method="post">
                {% csrf_token %}
                <a class="btn btn-danger" href="{% url 'tasks' %}">Cancelar</a>

                <input class="btn btn-success" type="submit" value="Confirmar">
            </form>

        </div>

    </div>

</div>
&nbsp

{% endblock %}